.content {
	width: 100%;
	display: flex;
	flex-direction: column;
	/* height: 1050px; */
	flex: 80%;
	border: #363636;
	border-width: 1px;
	border-style: solid;
}

.contentImage {
	max-width: 100%;
	height: 350px;
	object-fit: cover;
	margin-bottom: 15px;
}
