.wrapper{
    flex: 80%;

}


.ava {
    height: 44px;
    filter: invert(1);
    margin-right: 12px;
}

.userWrapper{
    display: flex;
}

.status {
    color: #a8a8a8;
    margin: 0 0 5px 0;
    padding: 0;

    font-size: 14px;
    line-height: 0.7;

    
}

.info{
    color: #a8a8a8;
    margin: 0 0 5px 0;
    padding: 0;

    font-size: 14px;
    line-height: 0.7;
}

.name{
    font-size: 14px;
    font-weight: bold;    

    line-height: 1;

    margin: 0 0 5px 0;
}

.buttonFollow{
    border-radius: 8px;

    width: 128px;
    height: 32px;

    background-color: #0095f6;
    color: #fff;
    font-weight: 600;

    margin-left: auto;

    
    transition: background-color 0.5s ease;
}

.buttonUnfollow{
    border-radius: 8px;

    width: 128px;
    height: 32px;

    background-color: #efefef;
    color: #000000;
    font-weight: 600;

    margin-left: auto;

    transition: background-color 0.5s ease;
}

.userWrapper{
    margin-bottom: 12px;
    width: 636px;
    margin-left: auto;
    margin-right: auto;
}

.pageButton{
    width: 100px;
    height: 30px;
    margin: 0 10px 0 0;
    background-color: #262626;
    color: #fff;
    background: none;
    border: none;
    box-shadow: none;

    border-radius: 6px;

    transition: background-color 0.3s ease;
}

.pageButton:hover{
    background-color: #3c3c3c;
}


.buttonsWrapper{
    margin: 0 auto;
    margin-bottom: 25px;
    width: 636px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.selectedPage{
    background-color: #3c3c3c;
    width: 100px;
    height: 30px;
    margin: 0 10px 0 0;
    color: #fff;
    border: none;
    box-shadow: none;

    border-radius: 6px;

    transition: background-color 0.3s ease;
}