@media only screen and (max-width: 768px) {
	.statusSpan {
		font-size: 18px;
	}

	.editPicture {
		width: 18px !important;
	}
}

.status {
	margin-bottom: 13px;
	display: flex;
}

.status span {
	opacity: 35%;
}

.editPicture {
	width: 30px;
}

.editPicture:hover {
	cursor: pointer;
}

.editContainer {
	margin-left: 8px;
}

.buttonEdit {
	border: medium none;
	background-image: none;
	background: transparent;
	float: left;
	background-color: transparent;
}

.input {
	background-color: black;
	color: #fff;
	height: 28px;
	width: 256px;
	font-size: 22px;
	font-family: 'Poppins', sans-serif;
}

.inputInverted {
	background-color: rgb(255, 255, 255);
	color: #000000;
	height: 28px;
	width: 256px;
	font-size: 22px;
	font-family: 'Poppins', sans-serif;
}

.buttonSend {
	border: medium none;
	background-image: none;
	background: transparent;
	float: left;
	background-color: transparent;
}

.inputContainer {
	margin-left: 8px;
}

.darkPicture {
	filter: invert(100%);
}

#light .status input {
	background-color: #fff;
}
