.img {
    width: 10%;
    height: auto;
    margin: 4px 0 3px 7px;
  }
  
  header {
    background-color: #000000;
    border: #363636;
    border-width: 1px;
    border-style: solid;
  }

  .loginContainer{
    margin-left: auto;
    width: 500px;
    height: auto;
  }

  .headerContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }