

.img {
	width: 10%;
	height: auto;
	margin: 4px 0 3px 7px;
	margin-right: auto;
}
.darkImg {
	filter: invert(100%);
}

header {
	background-color: #000000;
	border: #363636;
	border-width: 1px;
	border-style: solid;
}

.loginContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: auto;
	height: auto;

	margin: 0 10px 0 0;
}

.headerContainer {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding-top: 10px;
}

.logoutContainer {
	display: flex;
	justify-content: center;
	width: auto;
	height: auto;

	margin: 0 10px 0 0;
}

.logoutContainerButton {
	width: 110px;
	height: 45px;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #262626;
	color: #fff;
	background: none;
	border: none;
	box-shadow: none;

	border-radius: 6px;

	transition: background-color 0.3s ease;
}

.logoutContainerButton:hover {
	background-color: #3c3c3c;
	cursor: pointer;
	text-align: center;
}

.logoutContainerButtonLight {
	width: 110px;
	height: 45px;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #ececec;
	color: #000000;
	background: none;
	border: none;
	box-shadow: none;

	border-radius: 6px;

	transition: background-color 0.3s ease;
}

.logoutContainerButtonLight:hover {
	background-color: #c6c6c6;
	cursor: pointer;
	text-align: center;
}



.loginContainer,
.logoutContainer {
	display: flex;
	align-items: center;
}
.loginWord{
	
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #ececec;
	color: #000000;
	background: none;
	border: none;
	box-shadow: none;

	border-radius: 6px;

	transition: background-color 0.3s ease;

	text-decoration: none;
	font-size: 24px;
	margin-left: 15px;
	margin-right: 20px;

	width: 110px;
	height: 45px;
}

.loginWord:hover {
	background-color: #606060;
	cursor: pointer;
	text-align: center;
}

.loginWordLight{
	
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #ececec;
	color: #ffffff;
	background: none;
	border: none;
	box-shadow: none;

	border-radius: 6px;

	transition: background-color 0.3s ease;

	text-decoration: none;
	font-size: 24px;
	margin-left: 15px;
	margin-right: 20px;

	width: 110px;
	height: 45px;
}

.loginWordLight:hover {
	background-color: #cccccc;
	cursor: pointer;
	text-align: center;
}

@media only screen and (max-width: 1200px) {
	.headerContainer {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		padding-top: 0px;
	}
}

@media only screen and (max-width: 768px) {
	.img {
		width: 56px !important;
		height: 56px !important;
		height: auto;
		margin: 4px 0 3px 7px;
		margin-right: auto;
	}
	.loginSpan {
		font-size: 18px;
	}
	.logoutSpan {
		font-size: 18px;
	}

	.headerContainer {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		padding-top: 0 !important;
	}
}

@media only screen and (max-width: 480px) {

	.img {
		width: 40px !important;
		height: 40px !important;
		height: auto;
		margin: 4px 0 3px 7px;
		margin-right: auto;
	}
	.loginSpan {
		font-size: 14px;
	}
	.logoutSpan {
		font-size: 14px;
	}

	.headerContainer {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		padding-top: 0 !important;
		align-items: center;
		border-top: none;
		border-right: none;
		border-left: none;
		border-bottom: 1px solid #000; /* Замените #000 на цвет вашей граничной линии */

	}

	.AccountMenu{
		align-self: flex-start;
	}
	
	
	.loginWord{
	
		display: flex;
		justify-content: center;
		align-items: center;
	
		background-color: #ececec;
		color: #ffffff;
		background: none;
		border: none;
		box-shadow: none;
	
		border-radius: 6px;
	
		transition: background-color 0.3s ease;
	
		text-decoration: none;
		font-size: 16px;
		margin-left: 15px;
		margin-right: 20px;
	
		width: 110px;
		height: 32px;
	}

	.loginWordLight{
	
		display: flex;
		justify-content: center;
		align-items: center;
	
		background-color: #ececec;
		color: #000000;
		background: none;
		border: none;
		box-shadow: none;
	
		border-radius: 6px;
	
		transition: background-color 0.3s ease;
	
		text-decoration: none;
		font-size: 16px;
		margin-left: 15px;
		margin-right: 20px;
	
		width: 110px;
		height: 32px;
	}
	
	
}