@media only screen and (max-width: 1200px) {
	.headerContainer {
		display: block;
		flex-direction: row;
		justify-content: flex-start;
		padding-top: 122px;
	}
}

@media only screen and (max-width: 768px) {
	.img {
		width: 56px !important;
		height: 56px !important;
		height: auto;
		margin: 4px 0 3px 7px;
		margin-right: auto;
	}
	.loginSpan {
		font-size: 18px;
	}
	.logoutSpan {
		font-size: 18px;
	}

	.headerContainer {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		padding-top: 0 !important;
	}
}

.img {
	width: 10%;
	height: auto;
	margin: 4px 0 3px 7px;
	margin-right: auto;
}
.darkImg {
	filter: invert(100%);
}

header {
	background-color: #000000;
	border: #363636;
	border-width: 1px;
	border-style: solid;
}

.loginContainer {
	width: auto;
	height: auto;
	text-align: center;
	margin: 0 10px 0 0;
}

.headerContainer {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding-top: 10px;
}

.logoutContainer {
	display: flex;
	justify-content: center;
	width: auto;
	height: auto;

	margin: 0 10px 0 0;
}

.logoutContainerButton {
	width: 110px;
	height: 45px;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: #262626;
	color: #fff;
	background: none;
	border: none;
	box-shadow: none;

	border-radius: 6px;

	transition: background-color 0.3s ease;
}

.logoutContainerButton:hover {
	background-color: #3c3c3c;
	cursor: pointer;
	text-align: center;
}

.loginWord {
	margin-right: 20px;
}

.loginContainer,
.logoutContainer {
	display: flex;
	align-items: center;
}
