.link {
    margin: 0 0 3px 0;
    padding: 0 0 0 4px;
}


.link:hover {
    cursor: pointer;
}

aside {
    margin-right: 15px;    
    flex: 20%;
    background-color: #000000;
    border: #363636;
    border-width: 1px;
    border-style: solid;
}

.item {
    color: antiquewhite;
    text-decoration: none;
}

.active {
    color:rgb(13, 84, 235);
    text-decoration: none;
}