.avatar {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.dialog {
	display: flex;
	flex-direction: row;
	flex: 100%;
	margin-bottom: 10px;
}
#light .dialog {
	background-color: #ffffff !important;
}

.avatarContainer {
	width: 56px;
	height: 56px;
	border-radius: 50%;
	overflow: hidden;
}

span {
	margin: 0;
	padding: 0;
}

.name {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 10px;
	color: #fff;
}

.linkName {
	text-decoration: none;
}


@media only screen and (max-width: 480px) {
	.avatarContainer {
		width: 34px;
		height: 34px;
		border-radius: 50%;
		overflow: hidden;
	}
	.name {
		display: none;
		
	}

	.linkName {
		display: flex;
		flex-direction: column;
		align-items: center; /* Выравнивание по вертикали по центру */
		justify-content: center; /* Выравнивание по горизонтали по центру */
		text-align: center; /* Выравнивание текста по центру */
	}
}