.loginWrapper {
	flex: 80;
	border: #363636;
	border-width: 1px;
	border-style: solid;
	padding: 10px;
}

.errorContainer {
	background-color: #ff4136;
	color: #ffffff;
	padding: 10px;
	border-radius: 6px;
	text-align: center;
	max-width: 250px;
}

.errorMessage {
	font-size: 16px;
	font-weight: bold;
}

.loginButton {
	background-color: #0074d9;
	height: 30px;
	color: #ffffff;
	padding: 0 20px;

	text-align: center;

	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.loginButton:hover {
	background-color: #0056b3;
	color: #ffffff;
}

.input {
	background-color: #fafafa;
	border: 1px solid #e0e0e0;
	border-radius: 5px;
	padding: 10px;
	width: 250px;
	font-size: 16px;
	color: #262626;
	outline: none;
	transition: border-color 0.3s ease;
}

.input:focus {
	border-color: #0095f6;
}
