.App {
	text-align: center;
}

p {
	margin: 0;
	padding: 0;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

ul li {
	list-style-type: lower-greek;
}

body {
	padding: 40px;
	font-family: 'Poppins', sans-serif;
	font-size: 22px;
}

/* Wrapper */

.wrapper {
	width: 1080px;
	margin: 0 auto;
}

/* Main content */

.main-content-wrapper {
	display: flex;
	flex-direction: row;
	margin-top: 15px;
	height: auto;
}

/* Posts div */

/* Aside */

aside {
	flex: 20%;
	padding: 5px;
}

#light {
	background-color: #fff;
	color: #23272f;
}
#light span {
	color: #23272f;
}

#light .active {
	color: #23272f;
}
#light .item {
	color: #23272f;
}

#light .wrapper {
	background-color: #ffffff;
}
#light body {
	background-color: #ffffff;
}

/* Large devices, wide screens */
@media only screen and (max-width: 1200px) {
	.wrapper {
		width: 900px;
		margin: 0 auto;
	}
}

/* medium devices, Desktops */
@media only screen and (max-width: 992px) {
	.wrapper {
		width: 800px;
		margin: 0 auto;
	}
}

/* small devices, tablets */
@media only screen and (max-width: 768px) {
	.wrapper {
		width: 600px;
		margin: 0 auto;
	}

	.main-content-wrapper {
		width: 600px;
		display: flex;
		flex-direction: row;
		margin-top: 15px;
		height: auto;
	}
}
/* Extra small devices, Phones */
@media only screen and (max-width: 480px) {
	.wrapper {
		width: 100%;
		max-width: none; /* Убираем ограничение максимальной ширины */
		margin-left: 0; /* Убираем отступ слева */
		margin-right: 0; /* Убираем отступ справа */
	}
	html, body {
		width: auto;		
		margin: 0;
		padding: 0;
	  }
	.main-content-wrapper {
		width: 100%;
		display: flex;
		flex-direction: row;
		margin-top: 0px;
		height: auto;
	}
}

