.message {
    background-color: #262626; /* Задаем серый цвет фона */
    display: inline-block; /* Делаем элемент блочным, чтобы фон мог растягиваться по ширине текста */
    padding: 12px 17px; /* Задаем отступы вокруг текста, чтобы создать внешний фон */
    margin-left: 10px;
    border-radius: 22px;
    align-self: flex-start;
    margin-bottom: 14px;
}

.messageText {
    color: #fff;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

.messageLight {
    background-color: #efefefff; /* Задаем серый цвет фона */
    display: inline-block; /* Делаем элемент блочным, чтобы фон мог растягиваться по ширине текста */
    padding: 12px 17px; /* Задаем отступы вокруг текста, чтобы создать внешний фон */
    margin-left: 10px;
    border-radius: 22px;
    align-self: flex-start;
    margin-bottom: 14px;
}

.messageLight .messageText {
    color: #1e1e1eff;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

@media only screen and (max-width: 480px) {
	.messageLight .messageText {
        color: #1e1e1eff;
        font-size: 12px;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    }

    .message {
        background-color: #262626; 
        display: inline-block; 
        padding: 4px 17px; 
        margin-left: 10px;
        border-radius: 22px;
        align-self: flex-start;
        margin-bottom: 14px;
    }

    .messageLight {
        background-color: #efefefff; /* Задаем серый цвет фона */
        display: inline-block; /* Делаем элемент блочным, чтобы фон мог растягиваться по ширине текста */
        padding: 4px 17px; /* Задаем отступы вокруг текста, чтобы создать внешний фон */
        margin-left: 10px;
        border-radius: 22px;
        align-self: flex-start;
        margin-bottom: 14px;
    }
}